<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>

    <ui:composition template="template.xhtml">
        <ui:define name="title">
            Publishers list
        </ui:define>
        <ui:define name="content">
            <h:dataTable
                    value="${publishersBean.publishers}"
                    var="p"
            >
                <h:column>
                    <f:facet name="header">
                        Name
                    </f:facet>
                    <h:link value="${p.name}" outcome="books">
                        <f:param name="publisherId" value="${p.id}"/>
                    </h:link>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Logo
                    </f:facet>
                    <h:graphicImage value="${p.logoImage}"/>
                </h:column>

            </h:dataTable>
        </ui:define>

    </ui:composition>





</h:body>

</html>
